name: test
on:
  push:
    branches:
      - '*'

defaults:
  run:
    shell: sh

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: debian:testing
    steps:
    - uses: actions/checkout@v4
    - run: apt -y update
    - run: apt -y install g++-multilib libboost-dev make yasm wget python3 #xz-utils nasm
    - run: yasm --version
    - name: Install xed and nasm
      run: |
        wget https://github.com/herumi/xed-bin/raw/refs/heads/main/xed.tgz
        wget https://github.com/herumi/xed-bin/raw/refs/heads/main/nasm.tgz
        tar xvf xed.tgz
        tar xvf nasm.tgz
        mkdir -p ~/bin
        mv xed ~/bin/
        mv nasm ~/bin/

    - name: Add ~/bin to PATH
      run: echo "$HOME/bin" >> $GITHUB_PATH

    - name: Check versions
      run: |
        xed -version
        nasm -version

    - run: |
        make test
        make -C sample CXXFLAGS="-DXBYAK_NO_EXCEPTION"
        cd test
        make xed_test
